{
  "importOrder": [
    "^react",
    "^@tamagui/(.*)$",
    "^@expo/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSameLine": true
}